.details {
  display: flex;
  flex-direction: column;

  &__buttons {
    width: 100%;
    margin: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
  }

  &__hour,
  &__day,
  &__week,
  &__month {
    font-weight: 600;
    font-family: inherit;
  }

  &__diagrams {
    margin: 0.5rem 1rem;
    display: flex;
    justify-content: center;
  }
}

.diagram {
  background-color: #fff;
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 395px;
  height: 400px;
  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__measure {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__gap {
    width: 15%;
  }

  &__datetime {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ryg {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(214, 214, 6);
  }

  &__value {
    font-size: 200%;
    font-weight: 600;
  }

  &__uom {
    font-size: 250%;
    font-weight: 800;
  }

  &__body {
    width: 100%;
    height: 100%;
  }

  &__canvas {
    width: 100%;
    height: 100%;
  }
    
}

.datetime {
  &__value {
    padding: 0 1rem;
    font-size: 100%;
    font-weight: 800;
  }

  &__btn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: $color-primary;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
